---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Main_ABOUT from "../components/Main_ABOUT.astro";
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>a</title>
	</head>
	<body style="background-color: #fff; margin: 0; padding: 0;">
		<Header/>
		<Main_ABOUT/>
		<Footer/>
	</body>
</html> 