/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9a79113c05C8558/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	max-width: 100%;
	overflow-x: hidden;
}
