---
<<<<<<< HEAD
import MainLayout from '../layouts/MainLayout.astro';
import Main_CONTACT from '../components/Main_CONTACT.astro';
---

<MainLayout title="He-ro" lang="en">
	<Main_CONTACT />
</MainLayout>
=======
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Main_CONTACT from "../components/Main_CONTACT.astro";
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>contact</title>
	</head>
	<body style="background-color: #fff; margin: 0; padding: 0;">
		<Header/>
		<Main_CONTACT/>
		<Footer/>
	</body>
</html> 
>>>>>>> b7e993ae22ff520728b72cfd0a0ada13a273d8bc
