---
import Main_NEWS from "../components/Main_NEWS.astro"
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";


---
<html lang="ja">
	<head>
		<link rel="icon" href="/Hero/favicon.ico">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="generator" content={Astro.generator} />
		<title>news</title>
	</head>
	<body style=" background-color:#ffff;text-align:center;overflow:scroll;">
		<Header/>
		<Main_NEWS>
		<Footer/>
	</body>
</html>
