---
import Main_RIDDLE from "../components/Main_RIDDLE.astro"
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";


---
<html lang="ja" >
	<head>
		<link rel="icon" href="/Riddle/favicon.ico">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Riddle</title>
	</head>
	<body style="background-color: #fff; margin: 0; padding: 0;">
		<Header/>
		<Main_RIDDLE/>
		<Footer/>
	</body>
</html>
