---
import MainLayout from "../layouts/MainLayout.astro";
import Main_SCTL_RIDDLE from "../components/Main_SCTL_RIDDLE.astro";
---
<<<<<<< HEAD

<MainLayout
  title="Special Commercial Transaction Law - Riddle"
  lang="ja"
  bodyStyle="background-color:#ffff;text-align:center;overflow:scroll;"
>
  <Fragment slot="head">
    <link rel="icon" href="/Riddle/favicon.ico" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"
    />
  </Fragment>
  <Main_SCTL_RIDDLE />
</MainLayout>
=======
<html lang="ja">
	<head>
		<link rel="icon" href="/Riddle/favicon.ico">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>specialcommercialtransactionlaw_riddle</title>
	</head>
	<body style="background-color: #f9fafb; margin: 0; padding: 0;">
		<Header/>
		<Main_SCTL_RIDDLE/>
		<Footer/>
	</body>
</html>
>>>>>>> b7e993ae22ff520728b72cfd0a0ada13a273d8bc
