---
import "../styles/style.css";
---

<header class="header">
    <div class="logo">
        <img class="icon" style="margin:auto;padding:10px" src="He-ro_icon.png"/>
    </div>
    <nav class="navbar">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/news">News</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
        </ul>
    </nav>
</header>
