---
import ViewTransitions from "astro/components/ViewTransitions.astro";
import "../styles/style.css";
---

<head>
   <ViewTransitions />
   <style>
      .article{
         font-family: Arial, sans-serif;   
         background-color:snow; 
         padding: 10px;
         margin: 10px;
      }
         .article h1{
            text-align:left;
            margin:20px;
         }
         .article h2{
            text-align:left;
            margin:20px;
         }
         .article h3{
            text-align:left;
            margin:20px;
         }
         .article ul{
            text-align:left;
            list-style:inside;
            margin:20px;
         }
         .article ul li{
            text-align:left;
            margin:10px;
         }

      
   </style>
</head>
<main class="scroll">
   <div style="position:absolute; left:0px; right:0px; top:120px;">
      <div style="height:500px;">
         <img
            src="RiddleLogo_casual.png"
            style="
      margin:auto;width:1000px;"
         />
         
         <div class="article">
            <h1>どんなアプリ？</h1>
            <h3>
               Riddleは、自分の作成したクイズを投稿し、世界中の人々に解いてもらうためのアプリです。<br
               />クイズの知識を広め、他のユーザーとの交流を楽しみましょう！<br
               />豊富なジャンルのクイズで、あなたの知識を試してみてください。
            </h3>

            <h2>
               主要機能</h2>
                  <ul style="list-style:none;">
                     <li>
                        クイズ投稿:
                        自分のオリジナルクイズを作成し、他のユーザーに挑戦してもらいましょう。
                     </li>
                     <li>
                        いいね機能:
                        お気に入りのクイズや投稿に「いいね！」をつけて、クリエーターを応援しましょう。
                     </li>
                     <li>
                        コメント機能:
                        クイズや投稿にコメントを残し、他のユーザーと意見や解答を交換しましょう。
                     </li>
                     <li>
                        共有機能:
                        お気に入りのクイズを友人や家族と簡単に共有できます。
                     </li>
                     <li>
                        このアプリが適している人:
                        <ul >
                           <li>クイズを作成し、他の人に挑戦してもらいたい人</li>
                           <li>
                              様々なジャンルのクイズで自分の知識を試したい人
                           </li>
                           <li>知識を共有し、他のユーザーと交流したい人</li>
                        </ul>
                     </li>
                  </ul>
                  <h2>利点</h2>
                  <ul>
                     <li>
                        シンプルで直感的なインターフェースで、クイズの作成や共有が簡単にできます。
                     </li>
                     <li>
                        いいねやコメントを通じて、他のユーザーとのコミュニケーションが楽しめます。
                     </li>
                     <li>
                        豊富なジャンルのクイズで、幅広い知識を身につけることができます。
                     </li>
                  </ul>
                  <h1>
                     Riddleで、知識を広め、新しい発見をし、世界中のクイズ愛好者との友情を築きましょう！
                  </h1><h2>
                     さあ、ダウンロードして、クイズの世界に飛び込みましょう！
                  </h2></div>
                  <a href="https://riddle.app.link/3gWco6ifMMb" style="margin:20px;"
            >
            <p>インストール</p><img
               src="download-solid.svg"
               style="margin:auto;width:50px;"
            /></a
         >
                  <div style="display:flex;
   flex-flow: column;">
                     <a href="/privacypolicy_riddle" style="color:#5433FF;margin:10px;"
                        >privacy policy</a
                     >
                     <a
                        href="/specialcommercialtransactionlaw_riddle"
                        style="color:#5433FF;margin:10px;"
                        >special commercial transaction law</a
                     >
                  </div>
               </h2>
            </h2>
         </div>
      </div>
   </div>
</main>
