---
import Main_SCTL_RIDDLE from '../../components/Main_SCTL_RIDDLE.astro';
import Footer from '../../components/Footer.astro';
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Riddle - 謎解きの世界へようこそ</title>
  </head>
  <body>
    <Main_SCTL_RIDDLE />
    <Footer />
  </body>
</html> 