---
import ViewTransitions from "astro/components/ViewTransitions.astro";
import "../styles/style.css";
---

<head>
   <ViewTransitions />
</head>
<main >
   <div
      class="untappable-card"
      style="position:absolute; left:0px; right:0px; top:150px;"
   >
      <>
   </div>
</main>
